[submodule "src/css/lib/build"]
	path = src/css/lib/build
	url = https://github.com/hvadhedderde/wtf-css-merger.git
[submodule "wtf-js-merger"]
	path = src/js/lib/build
	url = https://github.com/hvadhedderde/wtf-js-merger.git
