
/*seg_mobile_light_include.css*/

/*s-absolute.css*/
.absolute {position: absolute;}

/*s-relative.css*/
.relavtive {position: relative;}

/*s-content.css*/
#content {padding: 100px;}
#content h1 {font-size: 150px;}
#content h2 {font-size: 86px;}
#content h3 {font-size: 56px;}
#content p {font-size: 36px;}
#content ul {padding: 0 20px 15px; margin: 0 0 0 20px;}
#content .time,
#content .geo {padding: 0 20px 15px; margin-top: -15px; color: #aaaaaa;}
#content .time *,
#content .geo * {font-size: 13px; color: #aaaaaa;}
#content .readmore {padding: 0 20px 20px; text-align: right;}
#content .readmore:after {content: "\00a0>";} 
#content li:hover .readmore a {text-decoration: underline;}
#content .addcomment {display: none;}
#content p.away span.away span {font-size: 44px;}
#content p.work span.work {color: #aaaaaa;}
#content p.money span.money {color: red;}
#content p.money span.more {font-size: 50px;}
#content p.thinking span.thinking {color: green;}
#content p.thinking span.less {font-size: 20px;}
#content p.direction span {font-size: 60px;}
#content p.right {color: blue;}
#content h3.wrong {color: red;}
#content p.left span.left {color: green; font-size: 70px;}
#content p.left span.corporations {color: blue; font-size: 20px;}
#footer {text-align: center; padding: 20px;}
